@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/ProximaNovaRegular.otf') format('opentype');
	font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Lato');

*{
	box-sizing: border-box;
}

.container{
	font-family: 'proxima_nova';
	margin: 130px 100px;
	padding: 140px 130px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, .08)
}

span.dropcaps {
	color: #171717;
	font-size: 70px;
	float: left;
	font-weight: 400;
	line-height: 0.7em;
	margin-bottom: -0.12em;
	margin-right: 0.3em;
	position: relative;
}
h1{
	font-size: 42px;
}
.list{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}
.second{
	font-size: 24px;
	font-style: italic;
	color: #858585;
	font-family: 'Lato', sans-serif;
}
.second:before{
	content: '"';
}
.end{
	font-size: 18px;
	color: #eaa258;
	border: 1px solid;
	padding: 12px 25px;
	font-family: 'Lato', sans-serif;

}



